*,
*:before,
*:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  appearance: none;
  background-color: #FFF;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;

  &:focus {
    outline: none;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
}

textarea {
  resize: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;

  &:focus {
    outline: none;
  }
}

hr {
  border: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}
