root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[{package.json,bower.json,harp.json,_data.json}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.{html,ejs,js,scss,less}]
indent_style = tab
indent_size = 3
