//grid
$grid-gutter-width: 20px;
$grid-gutter-width-container: 40px;
$container-xs: 357px + $grid-gutter-width-container;
$container-sm: 980px + $grid-gutter-width;
$container-md: 980px + $grid-gutter-width;
$container-lg: 980px + $grid-gutter-width;

//breakpoints
$screen-xs-min: 357px;
$screen-sm-min: 768px;

//typo
$text-color: #333;
$font-size-base: 12px;
$font-family-base: 'Arial', sans-serif;

//colors
$c-primary: #000;
$c-secundary: #FFF;

@import "_settings.scss";

body {
	font-family: "Helvetica";
	text-align: center;
	padding: 50px 20px 0;
	background: #f4f4f7;
	color: #444;
	margin: 0;
}

h1 {
	font-size: 65px;
	line-height: 1.2em;
	border-bottom: #CCC solid 1px;
	padding: 20px 0;
}

h3 {
	font-weight: 300;
}
