<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="robots" content="index,follow">
	<meta name="web_author" content="<%= site_author %>">
	<title><%= site_title %></title>
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<%- yield %>
</body>
</html>
