//
// Icon Font: <%= font_name %>
//

<%= font_face(path: @font_path_alt) %>

.fe {
  display: inline-block;
  font: normal normal normal 14px/1 '<%= font_name %>';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<%= glyphs %>
